version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    groups:
      github-actions:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "github-actions"
    reviewers:
      - "${{ github.repository_owner }}"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore"
      include: "scope"
